POSTGRES_DB= # Postgres DB
POSTGRES_USER= # Postgres user
POSTGRES_PASSWORD= # Postgres password
DATABASE_URL= # URL for Postgres DB (format: postgresql://<user>:<password>@<host>:<port>/<database>)
# JWT key
JWT_KEY= # Random secret JWT key
# Cloudinary
CLOUDINARY_SECRET= # Secret got from Cloudinary
CLOUDINARY_NAME= # Name got from Cloudinary
CLOUDINARY_API_KEY= # API key got from Cloudinary
CLOUDINARY_SERVER= # URL for fetching Cloudinary media (format: https://res.cloudinary.com/<name>/image/upload/)
# OAuth
GOOGLE_CLIENT_ID= # Id for Google Client
# App
PORT= # App port (e.g.: 3000)
