{% set hidePublish = true %}
{% set title = "Publicar" %}

{% extends "layout.njk" %}
{% block content %}
  <form 
    action=""
    method="post"
    id="publish-form"
    class='md:flex-row flex-1 p-4 gap-2'
    >
    <label class="bg-gray-300 flex-1 flex-col items-center justify-center cursor-pointer relative rounded-lg focus-within:outline outline-2">
      <div 
        id="image-placeholder"
        class="gap-2 text-2xl justify-center items-center">
        <i class="fa-regular fa-image"></i>
        <span>Adicionar imagem</span>
      </div>
      <input 
        required
        type='file'
        id='file-input'
        accept="image/gif, image/jpeg, image/png, image/webp"
        class="absolute inset-0 w-full h-full text-transparent text-[0rem] cursor-pointer opacity-0"
        ></input>
      <img 
        id="image-display"
        class="absolute max-w-full max-h-full w-auto h-auto"></img>
    </label>
    <div class="flex-1 gap-2">
      <label>Descrição
                <textarea
                rows="4"
                name="description"
                placeholder="Escrever algo"
                class="border-2 p-2 rounded-lg"
                ></textarea>
      </label>
      <button 
        href="/publish" 
        id="submit-input"
        class="bg-blue-500 p-2 rounded-lg flex-row text-white items-center gap-1 justify-center max-w-xs">
        <i class="fa-solid fa-paper-plane"></i>
                Publicar
      </button>
    </div>
    <input type="hidden" id="version-input" name="version"></input>
    <input type="hidden" id="publicId-input" name="publicId"></input>
    <input type="hidden" id="signature-input" name="signature"></input>
  </form>
  <script src="js/publishForm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
{% endblock %}