{% extends "../layout.njk" %}

{% set title = "Página Inicial" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="./css/post.css"/>
{% endblock %}

{% block content %}
    <section id="posts">
        {% for post in posts %}
            {% include "../components/_post.njk" %}
        {% endfor %}
    </section>
{% endblock %}

{{ posts }}

{% block script %}{% endblock %}