{% extends "../layout.njk" %}
{% set title = "Post" %}
{% block content %}
    <div class="md:flex-row flex-1">
        <div class="flex-1 self-stretch items-center justify-center bg-gray-300">
            <img 
            class="max-w-full max-h-full w-auto h-auto shadow-lg"
            src="{{imageServer}}/w_512/v1675078381/{{post.image}}"></img>
        </div>
        <div class='flex-1 p-2 gap-2'>
            <div class="flex-row justify-between items-center">
                <a class="flex-row items-center gap-2" href="/@{{post.user.username}}">
                    <img 
                        width="42"
                        height="42"
                        class="rounded-full"
                        src="/img/foto-perfil.jpg"/>
                    <h2 class="text-lg">{{post.user.name}}</h2>
                </a>
            </div>
            {% if post.description %}
                <div>{{post.description}}</div>
            {% else %}
                <div class="opacity-50">Sem descrição</div>
            {% endif %}
        </div>
    </div>
{% endblock %}