{% extends "../layout.njk" %}
{% set title = "Post" %}
{% block content %}
    <div class="flex-row flex-1">
        <div class="flex-1 self-stretch items-center justify-center">
            <img 
            class="max-w-full max-h-full w-auto h-full"
            src="{{imageServer}}/w_512/v1675078381/{{post.image}}"></img>
        </div>
        <div class='flex-1'>
            {{post.description}}
        </div>
    </div>
{% endblock %}