{% extends "../layout.njk" %}
{% set title = post.description or "Post" %}
{% set navPosition = 'fixed' %}
{% block content %}
    <div class="md:flex-row flex-1">
        <div 
            style="max-height: calc(100vh)"
            class="flex-1 md:sticky pt-10 top-0 self-stretch items-center justify-center bg-gray-200">
            <img
            class="max-w-full max-h-full w-auto h-auto shadow-lg"
            src="{{imageServer}}/w_512/v1675078381/{{post.image}}"></img>
        </div>
        <div class='flex-1 p-2 md:pt-10 pb-0 gap-2 bg-white'>
            <div class="flex-row justify-between items-center pt-2">
                <a class="flex-row items-center gap-2" href="/@{{post.user.username}}">
                    <img 
                        width="32"
                        height="32"
                        class="rounded-full"
                        src="{{post.user.picture}}"/>
                    <h2 class="text-lg">{{post.user.name}}</h2>
                </a>
                {% if post.userId == userId %}
                    {% include "components/_postButtons.njk" %}
                {% endif %}
            </div>
            <div class="flex-1">
                {% if post.description %}
                    {{post.description}}
                {% else %}
                    <span class="opacity-50">Sem descrição</span>
                {% endif %}
            </div>
            <ul class="gap-2">
                {% if post.comments.length %}
                    {% for comment in post.comments %}
                        {% include "../components/_commentItem.njk" %}
                    {% endfor %}
                {% else %}
                    <div class="opacity-50">Seja o primeiro a comentar</div>
                {% endif %}
            </ul>
            <div class="sticky bottom-0 pb-2 bg-white rounded-t-lg">
                {% if logged %}
                    {% include "components/_commentInput.njk" %}
                {% else %}
                    <div class="block bg-gray-200 rounded-lg p-2">
                    Faça <a href="/sign-in" class="text-blue-500 inline underline">login</a> para comentar
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}