{% extends "../layout.njk" %}

{% set title = "Editar perfil" %}

{% block content %}
    <form 
        method="post"
        id="profile-form"
        action="/user/{{user.id}}/update"
        class="items-center self-center w-full max-w-sm p-2">
        <div>
            <img width="96" height="96" src="{{user.picture}}" class="rounded-full"></img>
            <label for="name" class="text-center" style="margin-top:0;">Foto</label>
        </div>
        <label for="name">Nome</label>
        <input name="name" value="{{user.name}}" required type="text"></input>
        <label for="username">Apelido</label>
        <input name="username" value="{{user.username}}" required type="text" class="w-full"></input>
        <label for="bio" class="self-start pt-2">Bio</label>
        <textarea name="bio">{{user.bio}}</textarea>
        <div></div>
        <button class="mt-4 bg-blue-500 p-2 px-10 rounded-lg flex-row text-white items-center gap-1 justify-center">
            Salvar
        </button>
    </form>
    <a href="#remove" class="text-red-500 p-2 mt-10 common-button absolute bottom-0 right-0 rounded-lg flex-row items-center gap-1">
        <i class="fa-solid fa-trash"></i>
        Remover conta
    </a>
    <style>
        #profile-form label {
            width: 100%;
            margin-top: 1rem;
        }
        #profile-form input,
        #profile-form textarea {
            width: 100%;
            padding: 0.25rem;
            border-radius: 0.5rem;
            border: solid 2px #0002;
        }
    </style>
    {% include "components/user/_userRemove.njk" %}
{% endblock %}
{% block script %}{% endblock %}