{% extends "../layout.njk" %}

{% set title = "Usuário" %}

{% block content %}
    <section class="flex-row items-center justify-center gap-4 m-4">
        <img 
            width="100"
            height="100"
            class="rounded-full"
            src="imgs/foto-perfil.jpg"/>
        <div class="w-full max-w-md">
            <h1 class="text-3xl">{{user.name}}</h1>
            <h2 class="text-xl">@{{user.username}}</h2>
        </div>
    </section>
    <section class="flex-row gap-6 flex-wrap justify-center">
        {% for post in user.posts %}
            {% include "../components/_post.njk" %}
        {% endfor %}
        {% for comment in user.comments %}
            {% include "../components/_commentAt.njk" %}
        {% endfor %}
    </section>
{% endblock %}

{% block script %}{% endblock %}