{% extends "../layout.njk" %}

{% set title = "Usuário" %}

{% block content %}
  <section class="flex-row items-center flex-wrap justify-center gap-4 m-4">
    <div class="flex-row items-center gap-2 w-full max-w-md">
      <img 
      width="100"
      height="100"
      class="rounded-full"
      src='{{user.picture}}'/>
      <div>
        <h1 class="text-3xl">{{user.name}}</h1>
        <h2 class="text-xl">@{{user.username}}</h2>
      </div>
    </div>
    <form action="/logout" method="post" >
      <button class="flex-row items-center hover:bg-black/10 p-1 rounded-lg cursor-pointer gap-1">
        <i class="fa-solid fa-circle-xmark fa-lg opacity-50"></i>
        Sair da conta
      </button>
    </form>
  </section>
  <div class="flex-col items-center">
    <section class="grid gap-2 gap-y-4 md:gap-y-2 md:grid-cols-3 justify-center">
      {% for post in user.posts %}
        {% include "../components/_postItem.njk" %}
      {% endfor %}
      {% for comment in user.comments %}
        {% include "../components/_commentAt.njk" %}
      {% endfor %}
    </section>
  </div>
{% endblock %}

{% block script %}{% endblock %}