{% extends "layout.njk" %}

{% set title = "Editar perfil" %}

{% block content %}
    {% include "user/_userUpdate.njk" %}
    <a href="#remove" class="text-red-500 p-2 mt-10 common-button absolute bottom-0 right-0 rounded-lg flex-row items-center gap-1">
        <i class="fa-solid fa-trash"></i>
        Remover conta
    </a>
    <style>
        label {
            width: 100%;
            cursor: pointer;
        }
        input,
        textarea {
            width: 100%;
            cursor: text;
            padding: 0.25rem;
            border-radius: 0.5rem;
            border: solid 2px #0002;
        }
    </style>
    {% include "user/_userRemove.njk" %}
    <script src="js/publishForm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
{% endblock %}
{% block script %}{% endblock %}