{% extends "layout.njk" %}

{% set title = "Usuário" %}

{% block content %}
  <div class="gap-4">
    <section class="flex-row items-center flex-wrap justify-center">
      <div class="flex-row items-center gap-2 w-full max-w-md p-2">
        <img 
        width="96"
        height="96"
        class="rounded-full"
        src='{{imageServer}}/w_96,h_96,c_fill,g_face/v1675078381/{{user.picture}}'></img>
        <div>
          <h1 class="text-3xl">{{user.name}}</h1>
          <h2 class="text-xl">@{{user.username}}</h2>
        </div>
      </div>
      {% if user.id == userId %}
        {% include "user/_profileButton.njk" %}
        {% include "auth/_logoutButton.njk" %}
      {% endif %}
    </section>
    <section class="self-center max-w-2xl">
      {% if user.bio %}
        {{user.bio}}
      {% else %}
        <span class="opacity-50">Sem bio</span>
      {% endif %}
    </section>
    <div class="my-8 flex-col items-center">
      {% if user.posts.length %}
        <section class="grid gap-2 gap-y-4 md:gap-y-2 md:grid-cols-3 justify-center">
          {% for post in user.posts %}
            {% include "post/_postItem.njk" %}
          {% endfor %}
        </section>
      {% else %}
        <span class="opacity-50 p-2">Sem postagens</span>
      {% endif %}
      {% if user.comments.length %}
        <section class="grid gap-2 gap-y-4 md:gap-y-2 md:grid-cols-3 justify-center">
          {% for comment in user.comments %}
            {% include "comment/_commentAt.njk" %}
          {% endfor %}
        </section>
      {% else %}
        <span class="opacity-50 p-2">Sem comentários</span>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}{% endblock %}