<div class="flex-row text-sm">
    <a href="#update-{{comment.id}}" class="p-1 py-2 text-black/50 hover:bg-black/10 rounded">
        <i class="fa-solid fa-pen fa-sm"></i>
    </a>
    <a href="#remove-{{comment.id}}" class="p-1 py-2 text-black/50 hover:bg-black/10 rounded">
        <i class="fa-solid fa-trash fa-sm"></i>
    </a>
</div>

{% include "comment/_commentUpdate.njk" %}
{% include "comment/_commentRemove.njk" %}