{% extends "_modal.njk" %}
{% set modalId = "update-"+comment.id %}
{% block content %}
    <form
    method="post"
    class="gap-2"
    action="/comment/{{comment.id}}/update">
        <label>Comentário
        <textarea
            rows="4"
            name="text"
            placeholder="Escrever algo"
            class="border-2 p-2 rounded-lg w-full"
        >{{comment.text}}</textarea>
        </label>
        <button class="bg-blue-500 p-2 rounded-lg flex-row text-white items-center gap-1 justify-center">
            Salvar
        </button>
    </form>
{% endblock %}