<div id="g_id_onload" data-ux_mode="popup" data-context="signin" data-login_uri="/user" data-itp_support="true" data-auto_prompt="false" data-auto_select="false" data-client_id="{{ GOOGLE_CLIENT_ID }}"></div>
<div
  data-size="large"
  data-width="300"
  data-shape="pill"
  data-type="standard"
  data-text="signin_with"
  data-theme="filled_blue"
  class="g_id_signin h-10"
  data-logo_alignment="left"></div>