<li class="flex-row gap-1 items-start">
    <a class="mt-2 shrink-0" href="/@{{comment.user.username}}">
        <img 
            width="20"
            height="20"
            class="rounded-full"
            src="{{comment.user.picture}}"/>
    </a>
    <div class="items-stretch">
        <div class="flex-row items-center gap-2">
            <a class="flex-row items-center gap-2" href="/@{{comment.user.username}}">
                <div class="text-xs opacity-50">{{comment.user.name}}</div>
            </a>
            {% include "./_commentButtons.njk" %}
        </div>
        <div>{{comment.text}}</div>
    </div>
</li>