<form class="flex-row items-center bg-gray-300 rounded-lg" action="" method="post">
    <textarea
        rows="1"
        placeholder="O que achou?"
        class="flex-1 p-2 min-h-[2.5rem] bg-transparent placeholder:text-gray-600 rounded-l-lg"></textarea>
    <button type="submit" class="common-button rounded-r-lg self-stretch justify-center pr-4">
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</form>