<form class="flex-row items-center bg-gray-300 rounded-lg" action="" method="post">
    <input
        rows="1"
        type="text"
        placeholder="O que achou?"
        class="flex-1 p-2 bg-transparent placeholder:text-gray-600 rounded-l-lg"></input>
    <button type="submit" class="common-button rounded-r-lg self-stretch justify-center pr-4">
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</form>