<form class="flex-row items-center flex-1 bg-gray-300 rounded-full" action="" method="post">
    <input
        type="text"
        placeholder="O que achou?"
        class="flex-1 p-2 bg-transparent placeholder:text-gray-600 rounded-l-full"/>
    <button type="submit" class="common-button rounded-r-full self-stretch justify-center pr-4">
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</form>

{# <div class="flex-row items-center">
    <button class="common-button rounded-full">
        <i class="fa-regular fa-comment-dots"></i>
    </button>
</div> #}