<a href="#logout" class="flex-row items-center hover:bg-black/10 p-2 rounded-lg cursor-pointer gap-1">
    <i class="fa-solid fa-circle-xmark fa-lg opacity-50"></i>
        Sair da conta
</a>
{% include './_logoutModal.njk' %}