<nav class="w-full bg-white shadow bg-opacity-50 backdrop-blur-lg h-10 fixed top-0 flex-row items-center z-40">
    <a href="/" class="font-bold px-2">
        <img src="/imgs/logo.png" class="h-10"/>
    </a>
</nav>
<div class="h-10 w-full"></div>