<div id="{{modalId}}" class="modal bg-black/50 fixed z-50 inset-0 justify-center items-center">
    <div class="bg-white p-2 rounded-lg relative w-full max-w-sm">
        <div class="absolute -top-8 right-0 md:-top-7 md:-right-7">
            <a 
            href="#!" 
            class="aspect-square h-8 rounded-lg p-2 hover:bg-black/20 bg-black/50 text-white items-center justify-center text-lg cursor-pointer">
                <i class="fa-solid fa-times"></i>
            </a>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

<style>
    @keyframes appear {
        from {
            opacity: 0;
            scale: 110%;
        }
    }

    .modal {
        display: fixed;
        animation-play-state: running;
        animation: 0.2s appear;
    }

    .modal:not(:target):not([open]) {
        display: none;
        animation-play-state: paused;
    }
</style>