<nav class="h-10 sticky top-0 bg-white/50 backdrop-blur shadow flex-row z-40">
  <a href="/" class="mr-auto flex">
    <img src='/img/logo.png' class="h-10 px-2"></img>
  </a>
  {% if not hidePublish %}
    <a href="/publish" class="bg-blue-500 p-2 rounded-lg flex-row text-white items-center gap-1">
      <i class="fa-solid fa-plus"></i>
            Publicar
    </a>
  {% endif %}
  {% if not hideSignIn %}
    <a href="/sign-in" class="p-2 rounded-lg flex-row items-center gap-1">
      <i class="fa-solid fa-user"></i>
            Entrar
    </a>
  {% endif %}
</nav>