<div class="flex-row">
    <a href="#update" class="p-2 text-black/50 hover:bg-black/10 rounded">
        <i class="fa-solid fa-pen"></i>
    </a>
    <a href="#remove" class="p-2 text-black/50 hover:bg-black/10 rounded">
        <i class="fa-solid fa-trash"></i>
    </a>
</div>

{% include "./_postUpdate.njk" %}
{% include "./_postRemove.njk" %}