<article class="post">
    <div class="header-post">
        <div class="autor">
            <a class="link-perfil" href="username">
                <img class="foto-perfil" src="imgs/foto-perfil.jpg"/>
            </a>
            <a class="link-perfil" href="/@{{post.user.username}}">
                <h2 class="nome-autor">{{post.user.name}}</h2>
            </a>
        </div>
        <span class="data-post">Data</span>
    </div>
    <img class="foto-post" src="imgs/placeholder.jpg"/>
    <p class="descricao-post">
        Descricão do post
    </p>
    <div class="barra-comentarios">
        <form class="form-comentario" action="" method="post">
            <label for="text" hidden>Comentário</label>
            <input
                id="text"
                class="input-comentario"
                type="text"
                name="text"
                placeholder="O que achou?"/>
            <button class="submit-comentario" type="submit"></button>
        </form>
        <button class="ver-comentarios"></button>
    </div>
</article>