<article class="max-w-md gap-1">
    <div class="flex-row justify-between items-center">
        <a class="flex-row items-center gap-2" href="/@{{post.user.username}}">
            <img 
                width="50"
                height="50"
                class="rounded-full"
                src="imgs/foto-perfil.jpg"/>
            <h2 class="text-lg">{{post.user.name}}</h2>
        </a>
        <span class="opacity-50">Data</span>
    </div>
    <img class="aspect-square w-full" src="imgs/placeholder.jpg"/>
    <p class="descricao-post">
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.Mé faiz elementum girarzis, nisi eros vermeio.Diuretics paradis num copo é motivis de denguis. Pra lá , depois divoltis porris, paradis.
    </p>
    <div class="flex-row items-center">
        <form class="flex-row items-center flex-1 bg-gray-300 rounded-full" action="" method="post">
            <input
                type="text"
                placeholder="O que achou?"
                class="flex-1 p-2 bg-transparent placeholder:text-gray-600 rounded-l-full"/>
            <button type="submit" class="common-button rounded-r-full self-stretch justify-center pr-4">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>
        <button class="common-button rounded-full">
            <i class="fa-regular fa-comment-dots"></i>
        </button>
    </div>
</article>