<article class="max-w-[400px] gap-1">
  <div class="flex-row justify-between items-center">
    <a class="flex-row items-center gap-2" href="/@{{post.user.username}}">
      <img 
        width="42"
        height="42"
        class="rounded-full"
        src="img/foto-perfil.jpg"/>
      <h2 class="text-lg">{{post.user.name}}</h2>
    </a>
  </div>
  <a href="/post/{{post.id}}" class='flex gap-1'>
    <img class="w-full bg-gray-200" src="{{imageServer}}/w_512/v1675078381/{{post.image}}"/>
    <div class="px-2 md:px-0 gap-2">
      <div>{{post.description}}</div>
    </div>
  </a>
</article>