<div class="items-center">
    <section class="grid gap-2 md:grid-cols-3 justify-center">
        {% for post in posts %}
            {% include "./_postItem.njk" %}
        {% endfor %}
    </section>
</div>